.menu {
    background-color: rgba(224, 240, 250, 0.6);
    text-align: left;
    font-family: cursive;
    font-size: 30px;
    color: rgb(69, 69, 69);
    position: fixed;
    top: 7px;
    right: 7px;
    left: 7px;
    height: 70px;
    padding: 20px;
}

.menu a:hover {
    color: black
}
.allUseeLogo{
    margin-left: 0vw;
    margin-top: -1vh;
    padding:none;

}
.search-container {
    float: right;
    max-width: 300px;
    border: none;
    vertical-align: middle;
}

.search-container input[type=text] {
    font-size: 18px;
    font-family: sans-serif;
    height: 28px;
    border: none;
    vertical-align: middle;
}

.search-container button {
    color: #00838F;
    margin-left: -9px;
    margin-right: 20px;
    height: 30px;
    background: white;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.dropdown {
    float: right;
    overflow: hidden;
    border: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    outline: none;
    color: rgb(69, 69, 69);
    padding: 6px;
    background-color: white;
    Margin-right: 20px;
    vertical-align: middle;
    border: none;
}

.dropdown:hover .dropbtn {
    background-color: powderblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    Background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #00838F;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background: url("background_image.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.add-object-button {
    position: fixed;
    bottom: 110px;
    right: 30px;
    border: none;
    color: black;
    background: transparent;
    padding: none;
    font-size: 50px;
    cursor: pointer;
}

.footer {
    background-color: rgba(224, 240, 250, 0.6);
    left: 0;
    color: black;
    bottom: 0;
    height: 70px;
    text-align: left;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    bottom: 7px;
    right: 7px;
    left: 7px;
}

.result-container {
    font-family: Verdana;
    border-radius: none;
    padding: 50px;
    background-color: rgba(224, 240, 250, 0.6);
    text-align: center;
    height: 400px;
    width: 900px;
    margin-left: 15vw;
    margin-top: 15vh;
}

.list-view-button {
    font-size: 18px;
    margin-left: 70vw;
    margin-bottom: 5vh;
    padding: none;
}

.result-container-list {
    font-family: Verdana;
    border-radius: none;
    padding: 50px;
    background-color: rgba(224, 240, 250, 0.6);
    text-align: center;
    height: 400px;
    width: 900px;
    margin-left: 15vw;
    margin-top: 15vh;
    overflow: scroll;
}

.result-container .table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
}

tr:hover {
    background-color: white;
}

.map-view-button {
    font-size: 18px;
    margin-left: 70vw;
    margin-bottom: 5vh;
    padding: none;
}

.Sign-register-container {
    border-radius: 30px;
    padding: 50px;
    background-color: rgba(224, 240, 250, 0.6);
    text-align: center;
    height: 400px;
    width: 200px;
    margin-left: 40vw;
    margin-top: 20vh;
}

.Sign-register-container. input[type=text], .Sign-register-container. input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

.Sign-register-container. input[type=text]:focus, .Sign-register-container. input[type=password]:focus {
    background-color: lightskyblue;
    outline: none;
}

div.username-textbox-gap {
    line-height: 60%;
}